.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px 0 $border-grey;
  box-sizing: border-box;
  padding: 0 50px;
  background-color: white;
  z-index: 1;

  .navbar-title {
    margin: 0;
    color: $high-blue;
    font-family: $title-font;
    font-weight: 600;
    font-size: 2.5em;
  }

  .navbar-list {
    &,
    div {
      display: flex;
      flex-direction: row;
      color: $link-grey;
      font-family: $title-font;

      a {
        margin-left: 25px;
        color: $link-grey;

        &:hover { color: $link-grey-hover; }

        &.active {
          color: $link-grey-disabled;
          cursor: default;
        }
      }
    }
  }
}
