@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:wght@300;400;500;600&display=swap');
// Fonts
$title-font: 'Raleway', sans-serif;
$text-font: 'Lato', sans-serif;

// Colors
$icon-bg: #e3e3e3;
$bg-grey: #f5f5f5;
$high-blue: #3860ff;
$border-grey: #a1a1a1;
$error-bg: #f0a1a1;

// Font colors
$red-text-color: #540101;
$light-grey: #ababab;
$grey: #595959;
$dark-grey: #242424;
